<div class="card" style="width: 60rem;">
  <div class="card-body">
    <h1 class="card-title">Stupid Coaching</h1>
    <h4 class="card-subtitle mb-2 text-muted">Ask your coach anything</h4>
    <form action="/answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
    <a href="#" class="card-link">Ask another question</a>
  </div>
</div>
